<table class="table">
    <caption>Lista de productos</caption>
    <thead>
        <th>Imagen</th>
        <th>Producto</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="products.image" [alt]="products.product"></td>
            <td>{{products.product}}</td>
            <td>{{products.product}}</td>
            <td>{{products.description}}</td>
            <td>{{products.price}}</td>
            <td>{{products.stock}}</td>
        </tr>
        <tr>
            <td>libretas</td>
            <td>Papeleria de oficina</td>
            <td>540</td>
            <td>87</td>
        </tr>
    </tbody>
</table>