<p>Tabla de productos</p>
<table>
    
    <thead>
        <th scope="col">Imagen</th>
        <th scope="col">Producto</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col" colspan="2">Compras</th>
        <th scope="col"></th>
    </thead>
    <tbody>
        <tr scope="row" *ngFor="let product of products" [ngClass]="{'settlement': product.settlement}">
            <td><img class="img-thumbnail" [src]="product.image" [alt]="product.product"></td>
            <td>{{product.product | uppercase}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price | currency}}</td>
            <td><samp *ngIf="product.stock==0; else inStock">Sin stock</samp>
                <ng-template #inStock>En stock</ng-template>
            </td>
            <td>
                <app-input-quantity [(quantity)]="product.quantity" [maxStock]="product.stock" *ngIf="product.stock" (maxReached)="maxReached($event)"></app-input-quantity>
            </td>
            <td>
                <button class="btn btn-light" *ngIf="product.stock" (click)="addToCart(product)" >Comprar</button>
            </td>
        </tr>
    </tbody>
</table>