<table class="table">
    <caption>Carrito de compras</caption>
    <thead>
        <th>Imagen</th>
        <th>Producto</th>
        <th>Descripción</th>
        <th>Precio unitario</th>
        <th>Cantidad</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of (cartList$ | async)">
            <td><img class="img-thumbnail" [src]="product.image" [alt]="product.product"></td>
            <td>{{product.product | uppercase}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price | currency}}</td>
            <td>{{product.quantity}}</td>
        </tr>
        
    </tbody>
</table>
