<table class="table">
    <caption>Carrito de compras</caption>
    <thead>
        <th>Imagen</th>
        <th>Producto</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
    </thead>
    <tbody>
        <tr>
            <td>imagen</td>
            <td>nada</td>
            <td>nada</td>
            <td>nada</td>
            <td>nada</td>
        </tr>
        <tr>
            <td>imagen</td>
            <td>libretas</td>
            <td>Papeleria de oficina</td>
            <td>540</td>
            <td>87</td>
        </tr>
    </tbody>
</table>
